$color-primary1: #ffc880;
$color-primary2: #9d4edd;
$color-primary3: #5a189a;
$font-color: #f8f4f8;
$deep-color: #24224b;

.header {
  padding: 0.5rem 0;
  color: $deep-color;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 4rem;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #04022b;
  margin-bottom: 10px;
}

.cell-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  &:nth-of-type(5) {
    background-color: $color-primary2;
    font-weight: 600;
    color: $font-color;
  }

  background-color: $font-color;
}

.cell {
  width: 90px;
  height: 90px;
  border: 0.5px solid #04022b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.9rem;

  div[contenteditable] {
    outline: none;
    text-align: center;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  div[contenteditable]:empty::before {
    content: attr(data-placeholder);
  }

  &:nth-of-type(5) {
    background-color: $color-primary1;
    color: $font-color;
    font-weight: 600;
  }  
}

.btn-container {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background-color: $color-primary1;
  border: none;
  padding: 10px;
  color: $font-color;
  border-radius: 10px;
  width: 140px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $color-primary2;
  }

  &:active {
    background-color: $color-primary3;
  }
}

.del-btn {
  border: none;
  padding: 10px;
  color: $color-primary3;
  border-radius: 10px;
  width: 140px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid $color-primary3;

  &:hover {
    background-color: #e4e9ef
  }
}

#main-title {
  background-color: $color-primary3;
  font-size: 1.1rem;
  color: $font-color;
}