$color-primary1: #11d4b6;
$color-primary2: #19b59d;;
$color-primary3: #1b9e8a;

.textareatemp {
  resize: none;
  border: none;
  text-align: center;
  overflow-y: hidden;
  font-size: 3rem;
  height: 1rem
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #04022b;
  margin-bottom: 10px;
}

.cell-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  &:nth-of-type(5) {
    background-color: $color-primary1;
    font-weight: 600;
  }
}

.cell {
  border: 0.5px solid #04022b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;

  &:nth-of-type(5) {
    background-color: $color-primary1;;
    font-weight: 600;
  }

  & textarea {
    width: 100%;
    background-color: inherit;
    font-size: 0.9rem;
    resize: none;
    border: none;
    text-align: center;
    overflow-y: hidden;

    &:focus {
      outline: none;
    }

    &.line-1 {
      height: 1.2rem;
    }
    &.line-2 {
      height: 1.2rem * 2;
    }
    &.line-3 {
      height: 1.2rem * 3;
    }
  }
}

.save-btn {
  background-color: $color-primary1;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 140px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $color-primary2;
  }

  &:active {
    background-color: $color-primary3;
  }
}
